@font-face {
    font-family: streetFighterFont;
    src: url(sfFont.ttf)
}

#game {
    background-image: url("../images/ryustage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 720px;
    position: relative;
    font-family: streetFighterFont;
    font-size: 18pt;
}

.positionAbsolute {
    width: 43%;
}

#hangmanText {
    font-family: streetFighterFont;
    font-size: 60pt;
}

#wordUL {
    text-align: center;
}

#cardHolder {
    height: 500px;
}